{% extends 'base.html' %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E6H7J2LV9X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E6H7J2LV9X');
</script>

{% block content %}
<title>Error! · Task & Project Tracking Software · TaskMate</title>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="card text-white bg-primary">
        <div class="card-body text-center">
            <h1 class="card-title">Oops! An Error Occurred.</h1>
            <p class="card-text">We're sorry for the inconvenience. Please try again later.</p>
            <cite class="card-text">Your error code: {{ errorcode }}</cite>
        </div>
    </div>
</div>
{% endblock %}