{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Done Tasks{% endblock %}</h1>
<script type="text/javascript" src="{{ url_for('static', filename='comment.js') }}"></script>
{% if g.user %}
<a class="action" href="{{ url_for('landing.index') }}">Active Tasks</a>
<a class="action" href="{{ url_for('landing.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for task in tasks %}
<article class="post">
  <header>
    <div>
      <h2>{{ task['title'] }}</h2>
      <div class="about">ID: {{ task['id'] }}</div>
      <div class="about">Created on {{ task['created'].strftime('%Y-%m-%d') }}</div>
      {% if task['due_date'] %}
      <div class="about">Due Date {{ task['due_date'] }}</div>
      {% endif %}
    </div>

    {% if g.user['id'] == task['author_id'] %}
    <div class="post">
      <form action="{{ url_for('landing.delete', id=task['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Delete task?');">
        <noscript>
          <input type="submit" value="Submit form!" />
        </noscript>
      </form>
    </div>
    {% endif %}

  </header>

  {% if task['body'] %}
  <details>
    <summary>
      Description
      <span class="icon">👇</span>
    </summary>
    <p>
      {{ task['body'] }}
    </p>
  </details>

  <details>
    <summary>
      Comments
      <span class="icon">👇</span>
    </summary>

    <input class="add" type="submit" value="Add Comment" onclick="onButtonClick('{{ tasks.index(task) }}')">

    <div class="post">
      <form action="{{ url_for('landing.add_comment', id=task['id']) }}" method="post">
        <p>
          <textarea class="hide" name="comment" id="comment" value=""></textarea>
          <input class="hide" id="save" name="save" type="submit" value="Save">
        </p>

        <noscript>
          <input type="submit" value="Submit form!" />
        </noscript>
      </form>
    </div>

    {% for comment in comments %}

    {% if comment['task_id'] == task['id']  %}
    <hr class="comment">
    <p>
      Commented on: {{ comment['created']}}
    </p>
    <p>
      Comment: {{ comment['content'] }}
    </p>
    <div class="post">
      <form action="{{ url_for('landing.delete', id=task['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Delete task?');">
        <noscript>
          <input type="submit" value="Submit form!" />
        </noscript>
      </form>
    </div>
    {% endif %}
    {% endfor %}
  </details>
  {% endif %}
</article>

{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}